*{
    box-sizing: border-box;

}
/* leptop device */
@media only screen and (max-width: 1200px) {
 
 #banner-content h1{
        font-size: 48px;
    
      
    }
     .card{
       
        padding:60px 30px;
      max-width: 320px;

    }
 
   
  
}
/* tablet device */
@media only screen and (max-width: 1025px) {
 #banner{
    flex-direction: column-reverse;
   
 }
 #banner-content{
    width: 100%;
    text-align: center;
 }
 #banner-image{
    width: 100%;
    
 }
   #services-cards-container{
        display: flex;
       flex-direction: column;
        gap: 30px;
     
    }
 
      .card{
       
        padding:60px 30px;
      max-width: 100%;

    }
   
}

 .story-card{
    padding: 30px 0px;
 }
 .review-card{
    position: relative;
 }
.review-card img{
  
 position: absolute;
bottom: 70px;
right: 50%;
left: 50%;

width: 160px;
   
}

/* mobile device */
@media only screen and (max-width: 640px) {
 #banner-content h1{
        font-size: 36px;

    }
   
      .card{
       
        padding:60px 30px;
      max-width: 100%;

    }
   .heading-container p{
    font-size: 32;
   }
  .story{
    padding: px;
  }
  .story-card{
    flex-direction: column;
   text-align: center;
    justify-content: center;
  }
.story-img{
    max-width: 100%;
}
  .story-content{
    max-width: 100%;
  text-align: left;
  padding: 0px 40px;
  }
  .country-card-container{
  
 flex-direction: column;

}
.review-card{
    padding-bottom: 40px;
}
.review-card img{
 


 width: 160px;
margin: 0px auto 20px auto;
}
.footer-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 9px 0px 0px 0px;
    background-color: white;
    margin-bottom: 0px;
    width: 70%;
    align-items: center;
}
}